<a href="https://colab.research.google.com/github/shivanishridhar/Data-Science-Engineering-Methods/blob/main/002770631_Shivani_Gole_CNN_Assignment07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Name : Shivani Shridhar Gole
#NUID : 002770631
#Assignment 07 : Deep Learning

In [ ]:
#Importing Libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import ShuffleSplit
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn import datasets
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
from tensorflow import keras 
from keras.layers import Dense
from keras.optimizers import Adam
from keras.callbacks import EarlyStopping
from sklearn.model_selection import RandomizedSearchCV
from keras.wrappers.scikit_learn import KerasClassifier
from keras.models import Sequential

In [ ]:
loan_dataset = pd.read_excel('/content/loan.xlsx')
loan_dataset

,Sex,Age,Time_at_address,Res_status,Telephone,Occupation,Job_status,Time_employed,Time_bank,Liab_ref,Acc_ref,Home_Expn,Balance,Decision
0,M,50.750000,0.585,owner,given,unemploye,unemploye,0,0,f,given,145,0,reject
1,M,19.670000,10.000,rent,not_given,labourer,governmen,0,0,t,given,140,0,reject
2,F,52.830002,15.000,owner,given,creative_,private_s,5,14,f,given,0,2200,accept
3,M,22.670000,2.540,rent,not_given,creative_,governmen,2,0,f,given,0,0,accept
4,M,29.250000,13.000,owner,given,driver,governmen,0,0,f,given,228,0,reject
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,M,34.169998,2.750,owner,given,guard_etc,self_empl,2,0,t,given,232,200,reject
425,F,22.250000,1.250,rent,not_given,unemploye,unemploye,3,0,f,given,280,0,reject
426,M,23.330000,1.500,owner,given,creative_,governmen,1,0,f,given,422,200,accept
427,M,21.000000,4.790,rent,not_given,productio,private_s,2,1,t,given,80,300,accept
428,M,27.750000,1.290,owner,given,labourer,governmen,0,0,t,oth_inst_,140,0,reject

In [ ]:
#dropping irrelevant column
loan_dataset.drop('Telephone',axis=1,inplace=True)
loan_dataset.head()

,Sex,Age,Time_at_address,Res_status,Occupation,Job_status,Time_employed,Time_bank,Liab_ref,Acc_ref,Home_Expn,Balance,Decision
0,M,50.750000,0.585,owner,unemploye,unemploye,0,0,f,given,145,0,reject
1,M,19.670000,10.000,rent,labourer,governmen,0,0,t,given,140,0,reject
2,F,52.830002,15.000,owner,creative_,private_s,5,14,f,given,0,2200,accept
3,M,22.670000,2.540,rent,creative_,governmen,2,0,f,given,0,0,accept
4,M,29.250000,13.000,owner,driver,governmen,0,0,f,given,228,0,reject

In [ ]:
loan_dataset['Decision'] = loan_dataset['Decision'].replace(['accept','reject'],[1,0])

In [ ]:
#dropping irrelevant column
loan_dataset.drop('Sex',axis=1,inplace=True)
loan_dataset.head()

,Age,Time_at_address,Res_status,Occupation,Job_status,Time_employed,Time_bank,Liab_ref,Acc_ref,Home_Expn,Balance,Decision
0,50.750000,0.585,owner,unemploye,unemploye,0,0,f,given,145,0,0
1,19.670000,10.000,rent,labourer,governmen,0,0,t,given,140,0,0
2,52.830002,15.000,owner,creative_,private_s,5,14,f,given,0,2200,1
3,22.670000,2.540,rent,creative_,governmen,2,0,f,given,0,0,1
4,29.250000,13.000,owner,driver,governmen,0,0,f,given,228,0,0

In [ ]:
#columns of data that will be used for classification as X variable
X_train = loan_dataset.drop('Decision',axis=1).copy()
X_train.head()

,Age,Time_at_address,Res_status,Occupation,Job_status,Time_employed,Time_bank,Liab_ref,Acc_ref,Home_Expn,Balance
0,50.750000,0.585,owner,unemploye,unemploye,0,0,f,given,145,0
1,19.670000,10.000,rent,labourer,governmen,0,0,t,given,140,0
2,52.830002,15.000,owner,creative_,private_s,5,14,f,given,0,2200
3,22.670000,2.540,rent,creative_,governmen,2,0,f,given,0,0
4,29.250000,13.000,owner,driver,governmen,0,0,f,given,228,0

In [ ]:
#column of data that we need to predict as Y variable
Y_train = loan_dataset['Decision'].copy()
Y_train.head()

0    0
1    0
2    1
3    1
4    0
Name: Decision, dtype: int64

In [ ]:
#numerical columns
numerical_input = X_train.select_dtypes(include="number")
numerical_input.columns

Index(['Age', 'Time_at_address', 'Time_employed', 'Time_bank', 'Home_Expn',
       'Balance'],
      dtype='object')

In [ ]:
#categorical columns
categorical_input = X_train.select_dtypes(include='object')
categorical_input.columns

Index(['Res_status', 'Occupation', 'Job_status', 'Liab_ref', 'Acc_ref'], dtype='object')

In [ ]:
from sklearn.preprocessing import scale
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing

In [ ]:
len(loan_dataset)

429

In [ ]:
le = preprocessing.LabelEncoder()

In [ ]:
revised_categorical_input = categorical_input.apply(le.fit_transform)
revised_categorical_input

     Res_status  Occupation  Job_status  Liab_ref  Acc_ref
0             0          11           6         0        0
1             1           4           0         1        0
2             0           0           2         0        0
3             1           0           0         0        0
4             0           1           0         0        0
..          ...         ...         ...       ...      ...
424           0           3           4         1        0
425           1          11           6         0        0
426           0           0           0         0        0
427           1           7           2         1        0
428           0           4           0         1        1

[429 rows x 5 columns]

In [ ]:
#concatenating numerical dataset & label encoded categorical dataset
revised_input = pd.concat(objs= [revised_categorical_input,numerical_input],axis='columns')
revised_input.head()

,Res_status,Occupation,Job_status,Liab_ref,Acc_ref,Age,Time_at_address,Time_employed,Time_bank,Home_Expn,Balance
0,0,11,6,0,0,50.750000,0.585,0,0,145,0
1,1,4,0,1,0,19.670000,10.000,0,0,140,0
2,0,0,2,0,0,52.830002,15.000,5,14,0,2200
3,1,0,0,0,0,22.670000,2.540,2,0,0,0
4,0,1,0,0,0,29.250000,13.000,0,0,228,0

In [ ]:
#OneHotEncoder
enc = preprocessing.OneHotEncoder()

#fit
enc.fit(categorical_input)

# transform
onehotlabel = enc.transform(categorical_input).toarray()
onehotlabel.shape

(429, 25)

In [ ]:
onehotlabel

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 1., 1., 0.],
       [1., 0., 1., ..., 0., 1., 0.],
       ...,
       [1., 0., 1., ..., 0., 1., 0.],
       [0., 1., 0., ..., 1., 1., 0.],
       [1., 0., 0., ..., 1., 0., 1.]])

In [ ]:
loan_dataset.isnull().sum()

Age                0
Time_at_address    0
Res_status         0
Occupation         0
Job_status         0
Time_employed      0
Time_bank          0
Liab_ref           0
Acc_ref            0
Home_Expn          0
Balance            0
Decision           0
dtype: int64

In [ ]:
revised_input

,Res_status,Occupation,Job_status,Liab_ref,Acc_ref,Age,Time_at_address,Time_employed,Time_bank,Home_Expn,Balance
0,0,11,6,0,0,50.750000,0.585,0,0,145,0
1,1,4,0,1,0,19.670000,10.000,0,0,140,0
2,0,0,2,0,0,52.830002,15.000,5,14,0,2200
3,1,0,0,0,0,22.670000,2.540,2,0,0,0
4,0,1,0,0,0,29.250000,13.000,0,0,228,0
...,...,...,...,...,...,...,...,...,...,...,...
424,0,3,4,1,0,34.169998,2.750,2,0,232,200
425,1,11,6,0,0,22.250000,1.250,3,0,280,0
426,0,0,0,0,0,23.330000,1.500,1,0,422,200
427,1,7,2,1,0,21.000000,4.790,2,1,80,300
428,0,4,0,1,1,27.750000,1.290,0,0,140,0

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(onehotlabel, Y_train, test_size=0.2)

In [ ]:
# Scale the features using StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
X_train.shape

(343, 25)

In [ ]:
# Define the model architecture
model = Sequential()
model.add(Dense(8, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [ ]:
# Compile the model
model.compile(loss='binary_crossentropy', optimizer='sgd', metrics=['accuracy','mse', 'mae'])

In [ ]:
# Train the model
model.fit(X_train, y_train, epochs=100, batch_size=16, verbose=1)

Train on 343 samples
Epoch 1/100
343/343 [==============================] - 0s 308us/sample - loss: 0.7309 - acc: 0.5481 - mean_squared_error: 0.2629 - mean_absolute_error: 0.4768
Epoch 2/100
343/343 [==============================] - 0s 119us/sample - loss: 0.7120 - acc: 0.5481 - mean_squared_error: 0.2565 - mean_absolute_error: 0.4751
Epoch 3/100
343/343 [==============================] - 0s 121us/sample - loss: 0.6980 - acc: 0.5510 - mean_squared_error: 0.2510 - mean_absolute_error: 0.4728
Epoch 4/100
343/343 [==============================] - 0s 129us/sample - loss: 0.6869 - acc: 0.5394 - mean_squared_error: 0.2468 - mean_absolute_error: 0.4721
Epoch 5/100
343/343 [==============================] - 0s 142us/sample - loss: 0.6785 - acc: 0.5423 - mean_squared_error: 0.2432 - mean_absolute_error: 0.4710
Epoch 6/100
343/343 [==============================] - 0s 139us/sample - loss: 0.6715 - acc: 0.5569 - mean_squared_error: 0.2401 - mean_absolute_error: 0.4688
Epoch 7/100
343/343 [==============================] - 0s 134us/sample - loss: 0.6663 - acc: 0.5598 - mean_squared_error: 0.2378 - mean_absolute_error: 0.4676
Epoch 8/100
343/343 [==============================] - 0s 104us/sample - loss: 0.6621 - acc: 0.5685 - mean_squared_error: 0.2359 - mean_absolute_error: 0.4663
Epoch 9/100
343/343 [==============================] - 0s 107us/sample - loss: 0.6583 - acc: 0.5860 - mean_squared_error: 0.2342 - mean_absolute_error: 0.4651
Epoch 10/100
343/343 [==============================] - 0s 108us/sample - loss: 0.6550 - acc: 0.6035 - mean_squared_error: 0.2326 - mean_absolute_error: 0.4636
Epoch 11/100
343/343 [==============================] - 0s 104us/sample - loss: 0.6527 - acc: 0.6064 - mean_squared_error: 0.2315 - mean_absolute_error: 0.4627
Epoch 12/100
343/343 [==============================] - 0s 110us/sample - loss: 0.6508 - acc: 0.6122 - mean_squared_error: 0.2306 - mean_absolute_error: 0.4614
Epoch 13/100
343/343 [==============================] - 0s 113us/sample - loss: 0.6488 - acc: 0.6122 - mean_squared_error: 0.2297 - mean_absolute_error: 0.4602
Epoch 14/100
343/343 [==============================] - 0s 108us/sample - loss: 0.6468 - acc: 0.6152 - mean_squared_error: 0.2288 - mean_absolute_error: 0.4589
Epoch 15/100
343/343 [==============================] - 0s 118us/sample - loss: 0.6449 - acc: 0.6268 - mean_squared_error: 0.2279 - mean_absolute_error: 0.4583
Epoch 16/100
343/343 [==============================] - 0s 116us/sample - loss: 0.6431 - acc: 0.6356 - mean_squared_error: 0.2271 - mean_absolute_error: 0.4577
Epoch 17/100
343/343 [==============================] - 0s 117us/sample - loss: 0.6415 - acc: 0.6268 - mean_squared_error: 0.2263 - mean_absolute_error: 0.4563
Epoch 18/100
343/343 [==============================] - 0s 150us/sample - loss: 0.6399 - acc: 0.6327 - mean_squared_error: 0.2256 - mean_absolute_error: 0.4554
Epoch 19/100
343/343 [==============================] - 0s 127us/sample - loss: 0.6385 - acc: 0.6268 - mean_squared_error: 0.2250 - mean_absolute_error: 0.4547
Epoch 20/100
343/343 [==============================] - 0s 139us/sample - loss: 0.6370 - acc: 0.6385 - mean_squared_error: 0.2244 - mean_absolute_error: 0.4536
Epoch 21/100
343/343 [==============================] - 0s 136us/sample - loss: 0.6358 - acc: 0.6385 - mean_squared_error: 0.2238 - mean_absolute_error: 0.4532
Epoch 22/100
343/343 [==============================] - 0s 132us/sample - loss: 0.6346 - acc: 0.6443 - mean_squared_error: 0.2232 - mean_absolute_error: 0.4524
Epoch 23/100
343/343 [==============================] - 0s 140us/sample - loss: 0.6332 - acc: 0.6385 - mean_squared_error: 0.2226 - mean_absolute_error: 0.4519
Epoch 24/100
343/343 [==============================] - 0s 185us/sample - loss: 0.6319 - acc: 0.6385 - mean_squared_error: 0.2220 - mean_absolute_error: 0.4507
Epoch 25/100
343/343 [==============================] - 0s 155us/sample - loss: 0.6301 - acc: 0.6385 - mean_squared_error: 0.2212 - mean_absolute_error: 0.4494
Epoch 26/100
343/343 [==============================] - 0s 133us/sample - loss: 0.6285 - acc: 0.6385 - mean_squared_error: 0.2204 - mean_absolute_error: 0.4480
Epoch 27/100
343/343 [==============================] - 0s 145us/sample - loss: 0.6269 - acc: 0.6327 - mean_squared_error: 0.2197 - mean_absolute_error: 0.4474
Epoch 28/100
343/343 [==============================] - 0s 123us/sample - loss: 0.6254 - acc: 0.6327 - mean_squared_error: 0.2190 - mean_absolute_error: 0.4464
Epoch 29/100
343/343 [==============================] - 0s 251us/sample - loss: 0.6239 - acc: 0.6327 - mean_squared_error: 0.2184 - mean_absolute_error: 0.4454
Epoch 30/100
343/343 [==============================] - 0s 193us/sample - loss: 0.6227 - acc: 0.6297 - mean_squared_error: 0.2179 - mean_absolute_error: 0.4439
Epoch 31/100
343/343 [==============================] - 0s 213us/sample - loss: 0.6214 - acc: 0.6297 - mean_squared_error: 0.2172 - mean_absolute_error: 0.4433
Epoch 32/100
343/343 [==============================] - 0s 170us/sample - loss: 0.6199 - acc: 0.6297 - mean_squared_error: 0.2166 - mean_absolute_error: 0.4421
Epoch 33/100
343/343 [==============================] - 0s 140us/sample - loss: 0.6185 - acc: 0.6560 - mean_squared_error: 0.2159 - mean_absolute_error: 0.4414
Epoch 34/100
343/343 [==============================] - 0s 137us/sample - loss: 0.6173 - acc: 0.6560 - mean_squared_error: 0.2154 - mean_absolute_error: 0.4408
Epoch 35/100
343/343 [==============================] - 0s 152us/sample - loss: 0.6160 - acc: 0.6560 - mean_squared_error: 0.2148 - mean_absolute_error: 0.4400
Epoch 36/100
343/343 [==============================] - 0s 192us/sample - loss: 0.6148 - acc: 0.6560 - mean_squared_error: 0.2143 - mean_absolute_error: 0.4391
Epoch 37/100
343/343 [==============================] - 0s 148us/sample - loss: 0.6135 - acc: 0.6560 - mean_squared_error: 0.2137 - mean_absolute_error: 0.4380
Epoch 38/100
343/343 [==============================] - 0s 132us/sample - loss: 0.6124 - acc: 0.6531 - mean_squared_error: 0.2132 - mean_absolute_error: 0.4371
Epoch 39/100
343/343 [==============================] - 0s 159us/sample - loss: 0.6112 - acc: 0.6501 - mean_squared_error: 0.2127 - mean_absolute_error: 0.4366
Epoch 40/100
343/343 [==============================] - 0s 153us/sample - loss: 0.6102 - acc: 0.6531 - mean_squared_error: 0.2123 - mean_absolute_error: 0.4359
Epoch 41/100
343/343 [==============================] - 0s 165us/sample - loss: 0.6089 - acc: 0.6501 - mean_squared_error: 0.2117 - mean_absolute_error: 0.4349
Epoch 42/100
343/343 [==============================] - 0s 195us/sample - loss: 0.6079 - acc: 0.6560 - mean_squared_error: 0.2113 - mean_absolute_error: 0.4341
Epoch 43/100
343/343 [==============================] - 0s 214us/sample - loss: 0.6069 - acc: 0.6501 - mean_squared_error: 0.2109 - mean_absolute_error: 0.4331
Epoch 44/100
343/343 [==============================] - 0s 222us/sample - loss: 0.6057 - acc: 0.6501 - mean_squared_error: 0.2103 - mean_absolute_error: 0.4328
Epoch 45/100
343/343 [==============================] - 0s 155us/sample - loss: 0.6050 - acc: 0.6531 - mean_squared_error: 0.2100 - mean_absolute_error: 0.4321
Epoch 46/100
343/343 [==============================] - 0s 158us/sample - loss: 0.6037 - acc: 0.6531 - mean_squared_error: 0.2094 - mean_absolute_error: 0.4311
Epoch 47/100
343/343 [==============================] - 0s 148us/sample - loss: 0.6026 - acc: 0.6501 - mean_squared_error: 0.2090 - mean_absolute_error: 0.4302
Epoch 48/100
343/343 [==============================] - 0s 145us/sample - loss: 0.6017 - acc: 0.6531 - mean_squared_error: 0.2086 - mean_absolute_error: 0.4297
Epoch 49/100
343/343 [==============================] - 0s 150us/sample - loss: 0.6008 - acc: 0.6531 - mean_squared_error: 0.2082 - mean_absolute_error: 0.4290
Epoch 50/100
343/343 [==============================] - 0s 138us/sample - loss: 0.5996 - acc: 0.6531 - mean_squared_error: 0.2078 - mean_absolute_error: 0.4282
Epoch 51/100
343/343 [==============================] - 0s 141us/sample - loss: 0.5986 - acc: 0.6501 - mean_squared_error: 0.2073 - mean_absolute_error: 0.4271
Epoch 52/100
343/343 [==============================] - 0s 160us/sample - loss: 0.5975 - acc: 0.6501 - mean_squared_error: 0.2069 - mean_absolute_error: 0.4260
Epoch 53/100
343/343 [==============================] - 0s 142us/sample - loss: 0.5966 - acc: 0.6589 - mean_squared_error: 0.2065 - mean_absolute_error: 0.4257
Epoch 54/100
343/343 [==============================] - 0s 155us/sample - loss: 0.5958 - acc: 0.6647 - mean_squared_error: 0.2061 - mean_absolute_error: 0.4256
Epoch 55/100
343/343 [==============================] - 0s 151us/sample - loss: 0.5949 - acc: 0.6676 - mean_squared_error: 0.2057 - mean_absolute_error: 0.4247
Epoch 56/100
343/343 [==============================] - 0s 167us/sample - loss: 0.5940 - acc: 0.6589 - mean_squared_error: 0.2054 - mean_absolute_error: 0.4235
Epoch 57/100
343/343 [==============================] - 0s 155us/sample - loss: 0.5931 - acc: 0.6676 - mean_squared_error: 0.2050 - mean_absolute_error: 0.4236
Epoch 58/100
343/343 [==============================] - 0s 130us/sample - loss: 0.5921 - acc: 0.6676 - mean_squared_error: 0.2046 - mean_absolute_error: 0.4223
Epoch 59/100
343/343 [==============================] - 0s 108us/sample - loss: 0.5913 - acc: 0.6647 - mean_squared_error: 0.2042 - mean_absolute_error: 0.4219
Epoch 60/100
343/343 [==============================] - 0s 97us/sample - loss: 0.5908 - acc: 0.6618 - mean_squared_error: 0.2040 - mean_absolute_error: 0.4212
Epoch 61/100
343/343 [==============================] - 0s 188us/sample - loss: 0.5899 - acc: 0.6676 - mean_squared_error: 0.2036 - mean_absolute_error: 0.4209
Epoch 62/100
343/343 [==============================] - 0s 93us/sample - loss: 0.5891 - acc: 0.6618 - mean_squared_error: 0.2034 - mean_absolute_error: 0.4202
Epoch 63/100
343/343 [==============================] - 0s 100us/sample - loss: 0.5883 - acc: 0.6676 - mean_squared_error: 0.2030 - mean_absolute_error: 0.4198
Epoch 64/100
343/343 [==============================] - 0s 106us/sample - loss: 0.5876 - acc: 0.6706 - mean_squared_error: 0.2027 - mean_absolute_error: 0.4192
Epoch 65/100
343/343 [==============================] - 0s 106us/sample - loss: 0.5870 - acc: 0.6706 - mean_squared_error: 0.2024 - mean_absolute_error: 0.4189
Epoch 66/100
343/343 [==============================] - 0s 115us/sample - loss: 0.5862 - acc: 0.6676 - mean_squared_error: 0.2021 - mean_absolute_error: 0.4177
Epoch 67/100
343/343 [==============================] - 0s 91us/sample - loss: 0.5853 - acc: 0.6706 - mean_squared_error: 0.2017 - mean_absolute_error: 0.4175
Epoch 68/100
343/343 [==============================] - 0s 106us/sample - loss: 0.5848 - acc: 0.6676 - mean_squared_error: 0.2015 - mean_absolute_error: 0.4170
Epoch 69/100
343/343 [==============================] - 0s 101us/sample - loss: 0.5841 - acc: 0.6706 - mean_squared_error: 0.2012 - mean_absolute_error: 0.4160
Epoch 70/100
343/343 [==============================] - 0s 97us/sample - loss: 0.5833 - acc: 0.6676 - mean_squared_error: 0.2009 - mean_absolute_error: 0.4152
Epoch 71/100
343/343 [==============================] - 0s 104us/sample - loss: 0.5826 - acc: 0.6706 - mean_squared_error: 0.2006 - mean_absolute_error: 0.4144
Epoch 72/100
343/343 [==============================] - 0s 130us/sample - loss: 0.5820 - acc: 0.6764 - mean_squared_error: 0.2003 - mean_absolute_error: 0.4147
Epoch 73/100
343/343 [==============================] - 0s 102us/sample - loss: 0.5813 - acc: 0.6793 - mean_squared_error: 0.2000 - mean_absolute_error: 0.4142
Epoch 74/100
343/343 [==============================] - 0s 94us/sample - loss: 0.5806 - acc: 0.6793 - mean_squared_error: 0.1997 - mean_absolute_error: 0.4133
Epoch 75/100
343/343 [==============================] - 0s 88us/sample - loss: 0.5801 - acc: 0.6822 - mean_squared_error: 0.1995 - mean_absolute_error: 0.4128
Epoch 76/100
343/343 [==============================] - 0s 96us/sample - loss: 0.5792 - acc: 0.6822 - mean_squared_error: 0.1992 - mean_absolute_error: 0.4123
Epoch 77/100
343/343 [==============================] - 0s 88us/sample - loss: 0.5787 - acc: 0.6822 - mean_squared_error: 0.1989 - mean_absolute_error: 0.4114
Epoch 78/100
343/343 [==============================] - 0s 97us/sample - loss: 0.5780 - acc: 0.6822 - mean_squared_error: 0.1986 - mean_absolute_error: 0.4111
Epoch 79/100
343/343 [==============================] - 0s 101us/sample - loss: 0.5775 - acc: 0.6822 - mean_squared_error: 0.1984 - mean_absolute_error: 0.4103
Epoch 80/100
343/343 [==============================] - 0s 91us/sample - loss: 0.5769 - acc: 0.6822 - mean_squared_error: 0.1982 - mean_absolute_error: 0.4097
Epoch 81/100
343/343 [==============================] - 0s 89us/sample - loss: 0.5764 - acc: 0.6851 - mean_squared_error: 0.1979 - mean_absolute_error: 0.4100
Epoch 82/100
343/343 [==============================] - 0s 87us/sample - loss: 0.5759 - acc: 0.6851 - mean_squared_error: 0.1977 - mean_absolute_error: 0.4093
Epoch 83/100
343/343 [==============================] - 0s 131us/sample - loss: 0.5752 - acc: 0.6851 - mean_squared_error: 0.1974 - mean_absolute_error: 0.4076
Epoch 84/100
343/343 [==============================] - 0s 99us/sample - loss: 0.5747 - acc: 0.6851 - mean_squared_error: 0.1971 - mean_absolute_error: 0.4084
Epoch 85/100
343/343 [==============================] - 0s 92us/sample - loss: 0.5741 - acc: 0.6822 - mean_squared_error: 0.1970 - mean_absolute_error: 0.4071
Epoch 86/100
343/343 [==============================] - 0s 94us/sample - loss: 0.5737 - acc: 0.6851 - mean_squared_error: 0.1967 - mean_absolute_error: 0.4071
Epoch 87/100
343/343 [==============================] - 0s 92us/sample - loss: 0.5730 - acc: 0.6851 - mean_squared_error: 0.1964 - mean_absolute_error: 0.4073
Epoch 88/100
343/343 [==============================] - 0s 107us/sample - loss: 0.5723 - acc: 0.6880 - mean_squared_error: 0.1961 - mean_absolute_error: 0.4060
Epoch 89/100
343/343 [==============================] - 0s 90us/sample - loss: 0.5716 - acc: 0.6880 - mean_squared_error: 0.1957 - mean_absolute_error: 0.4061
Epoch 90/100
343/343 [==============================] - 0s 101us/sample - loss: 0.5714 - acc: 0.6910 - mean_squared_error: 0.1956 - mean_absolute_error: 0.4057
Epoch 91/100
343/343 [==============================] - 0s 99us/sample - loss: 0.5705 - acc: 0.6910 - mean_squared_error: 0.1952 - mean_absolute_error: 0.4052
Epoch 92/100
343/343 [==============================] - 0s 110us/sample - loss: 0.5698 - acc: 0.6910 - mean_squared_error: 0.1949 - mean_absolute_error: 0.4043
Epoch 93/100
343/343 [==============================] - 0s 92us/sample - loss: 0.5692 - acc: 0.6939 - mean_squared_error: 0.1946 - mean_absolute_error: 0.4044
Epoch 94/100
343/343 [==============================] - 0s 99us/sample - loss: 0.5687 - acc: 0.6939 - mean_squared_error: 0.1944 - mean_absolute_error: 0.4038
Epoch 95/100
343/343 [==============================] - 0s 96us/sample - loss: 0.5678 - acc: 0.6939 - mean_squared_error: 0.1941 - mean_absolute_error: 0.4027
Epoch 96/100
343/343 [==============================] - 0s 104us/sample - loss: 0.5672 - acc: 0.6939 - mean_squared_error: 0.1937 - mean_absolute_error: 0.4024
Epoch 97/100
343/343 [==============================] - 0s 118us/sample - loss: 0.5667 - acc: 0.6939 - mean_squared_error: 0.1937 - mean_absolute_error: 0.4020
Epoch 98/100
343/343 [==============================] - 0s 93us/sample - loss: 0.5661 - acc: 0.6968 - mean_squared_error: 0.1934 - mean_absolute_error: 0.4015
Epoch 99/100
343/343 [==============================] - 0s 94us/sample - loss: 0.5656 - acc: 0.6968 - mean_squared_error: 0.1931 - mean_absolute_error: 0.4013
Epoch 100/100
343/343 [==============================] - 0s 120us/sample - loss: 0.5650 - acc: 0.6968 - mean_squared_error: 0.1929 - mean_absolute_error: 0.4005

In [ ]:
# Evaluate the model on the testing set
score = model.evaluate(X_test, y_test, verbose=0)
print(f'Test loss: {score[0]}')
print(f'Test accuracy: {score[1]}')
print(f'mse: {score[2]}')
print(f'mae: {score[3]}')

Test loss: 0.6713152763455413
Test accuracy: 0.569767415523529
mse: 0.23922507464885712
mae: 0.4583856761455536

/usr/local/lib/python3.9/dist-packages/keras/engine/training_v1.py:2333: UserWarning: `Model.state_updates` will be removed in a future version. This property should not be used in TensorFlow 2.0, as `updates` are applied automatically.
  updates = self.state_updates

In [ ]:
param_dist = {
    'hidden_layer_sizes': [(8, 4), (16, 8)],
    'activation': ['relu', 'sigmoid'],
    'optimizer': ['adam', 'sgd'],
    'batch_size': [16, 32, 64],
    'epochs': [50, 100, 200]
}

In [ ]:
# Define the model architecture
def create_model(hidden_layer_sizes=(8, 4), activation='relu', optimizer='adam'):
    model = Sequential()
    model.add(Dense(hidden_layer_sizes[0], input_dim=X_train.shape[1], activation=activation))
    model.add(Dense(hidden_layer_sizes[1], activation=activation))
    model.add(Dense(1, activation='sigmoid'))
    model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])
    return model

In [ ]:
keras_classifier = KerasClassifier(build_fn=create_model, verbose=0)

<ipython-input-202-f1a51d9649fc>:1: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  keras_classifier = KerasClassifier(build_fn=create_model, verbose=0)

In [ ]:
# Perform randomized search to find the best hyperparameters
random_search = RandomizedSearchCV(keras_classifier, param_distributions=param_dist, cv=3, n_iter=10, n_jobs=-1)
random_search.fit(X_train, y_train)

RandomizedSearchCV(cv=3,
                   estimator=<keras.wrappers.scikit_learn.KerasClassifier object at 0x7fcc9ebd5a60>,
                   n_jobs=-1,
                   param_distributions={'activation': ['relu', 'sigmoid'],
                                        'batch_size': [16, 32, 64],
                                        'epochs': [50, 100, 200],
                                        'hidden_layer_sizes': [(8, 4), (16, 8)],
                                        'optimizer': ['adam', 'sgd']})

In [ ]:
# Print the best hyperparameters and accuracy score
print(f'Best hyperparameters: {random_search.best_params_}')
print(f'Accuracy score: {random_search.best_score_:.4f}')

score_hyperparameter_dense=random_search.best_score_

Best hyperparameters: {'optimizer': 'adam', 'hidden_layer_sizes': (16, 8), 'epochs': 50, 'batch_size': 16, 'activation': 'relu'}
Accuracy score: 0.6823

In [ ]:
score_hyperparameter_dense

0.6822527249654134